* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover{
    color: aqua;
}

nav {
    background-color: rgb(25, 68, 122);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    min-height: 100px;
    flex: none;
}

p {
    padding: 20px;
    color: rgb(25, 68, 122);
}

footer {
    background-color: rgb(25, 68, 122);
    margin: 0px;
    width: 100%;
    flex: none;
    color: white;
    display: flex;
    align-items: center;

}

body {
    background-color: rgb(230, 245, 255);
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.social {
    display: inline;
    width: 48px;
}
  
.socials {
    margin-left: auto;
    margin-right: 20px;
}

.logo {
    padding: 0;
     height: 100px;
     width: 100px;
     margin-right: auto;
}

.me {
    width: 200px;
    height: auto;
    margin: 20px;
    border: 2px solid rgb(25, 68, 122);
    border-radius: 50%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 50px;
}

.hero p,
.hero h1  {
    margin: 5px;
    text-align: center;
    padding: 0;
    color: rgb(25, 68, 122);
}

.hero {
    flex-basis: 50px;
    flex: 1;
    max-width: 200px;
}

.heroheader {
    color: rgb(25, 68, 122);
    font-family: 'Edu TAS Beginner', cursive;
}

h3 {
    color: rgb(25, 68, 122);

}

.previous {
    width: 100%;
    height: auto;
}

.previouswork {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

main {
    text-align: center;
    padding: 20px;
    border-top: 2px solid  rgb(25, 68, 122) ;
}

.footertxt {
    color: white;
}

.previousdiv {
    max-width: 250px;
}

.h3work {
    position: relative;
    bottom: 45px;
    background-color: rgb(230, 245, 255);
    display: inline;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    header {
        gap: 0px;
    }
}